*{
    margin: 0;
    padding: 0;
}

#videoBackground{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* Omarvis: Añadí el "z-index" para que el texto se mostrara encima de el video, puede quitarse si este no es el uso que se ha pensado. */
}

article, h3{
    font-style: italic;
    font-size: medium;
    color: white;
    text-align: center;
}
